body{
    margin: 0px;
    padding: 0px;
    background: url("img.jpg");
    background-size: cover;
}

.content{
    width: 100%;
    height: 70px;
    background: #1d68a7;
    margin: auto;
    text-align: center;
    position: fixed;
}
.menu ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.menu ul li{
    display: inline;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 20px;
    line-height: 70px;
    padding-left: 40px;
    font-weight: bold;
}
.menu ul li a{
    text-align: center;
    text-decoration: none;
    color: white;
}
.left{
    width: 50%;
    height: 500px;
    position: absolute;
    top: 50%;
    right: 20%;
    color: white;
}